absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alpha_vantage==3.0.0
altair==5.5.0
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.3.0
APScheduler==3.10.4
argcomplete==3.6.3
astunparse==1.6.3
attrs==23.2.0
Automat==25.4.16
backoff==2.2.1
bitarray==3.4.2
blinker==1.9.0
branca==0.8.2
cachetools==6.2.1
certifi==2024.2.2
cffi==2.0.0
charset-normalizer==3.3.2
ckzg==2.1.1
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
constantly==23.10.4
contourpy==1.3.1
cryptography==46.0.3
cycler==0.12.1
cytoolz==1.0.1
Deprecated==1.2.14
distro==1.9.0
dnspython==2.6.1
drozer @ file:///C:/dev/drozer
email_validator==2.1.1
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.0
eth_abi==5.2.0
Farama-Notifications==0.0.4
fastapi==0.109.2
fastapi-sso==0.10.0
filelock==3.14.0
flatbuffers==24.12.23
folium==0.20.0
fonttools==4.55.3
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.6.0
geopandas==1.1.1
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
grpcio==1.68.1
gunicorn==21.2.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
h11==0.14.0
h5py==3.12.1
hexbytes==1.3.1
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.0
hyperlink==21.0.0
idna==3.7
importlib_metadata==7.1.0
incremental==24.7.2
Jinja2==3.1.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.7.0
kiwisolver==1.4.8
libclang==18.1.1
litellm==1.35.38
lxml==5.1.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
multidict==6.0.5
namex==0.0.8
narwhals==2.10.2
networkx==3.4.2
numpy==1.26.4
oandapyV20==0.7.2
oauthlib==3.2.2
ollama==0.5.1
openai==1.25.1
opt_einsum==3.4.0
optree==0.13.1
openpyxl==3.1.5
orjson==3.10.3
osmnx==2.0.6
packaging==23.2
pandas==2.2.3
parsimonious==0.10.0
pefile==2023.2.7
pikepdf==8.12.0
pillow==10.2.0
pipx==1.8.0
platformdirs==4.5.0
plotly==6.4.0
protobuf==5.29.2
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
pygame==2.6.1
Pygments==2.18.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyJWT==2.8.0
pyogrio==0.11.1
pyOpenSSL==25.3.0
pyparsing==3.2.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
pyunormalize==16.0.0
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.1
redis==5.0.4
referencing==0.37.0
regex==2024.4.28
requests==2.31.0
rich==13.9.4
rlp==4.1.0
rpds-py==0.28.0
rq==1.16.2
rtree==1.4.1
schedule==1.2.2
service-identity==24.2.0
setuptools==75.6.0
shapely==2.1.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
stable_baselines3==2.4.0
starlette==0.36.3
streamlit==1.51.0
streamlit-folium==0.25.3
sympy==1.13.1
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tiktoken==0.6.0
tokenizers==0.19.1
toml==0.10.2
toolz==1.0.0
torch==2.5.1
tornado==6.5.2
tqdm==4.66.4
ttkthemes==3.2.2
Twisted==25.5.0
types-requests==2.32.0.20250515
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
urllib3==2.2.1
userpath==1.9.2
uvicorn==0.22.0
v20==3.0.25.0
watchdog==6.0.0
web3==7.12.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.16.0
xyzservices==2025.10.0
yarl==1.9.4
zipp==3.18.1
zope.interface==8.0.1
